*{
    background-color: white;
    margin: 5px;
    padding: 2px;
}
.header li a{
    text-decoration: none;
}

nav ul li{
     display:inline;
    align-items:center;
    justify-content:center;
    margin: 0 25px;
    padding: 5px;
   
}
nav ul li:hover{
opacity: 0.7;
}
a{
    font-size: large;
    font-weight: 400;
    color: #29abe2;
}

  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  

  
