*{
    scroll-behavior: smooth;
}
body{
  margin:0;
  background-image:url(../images/doodle21.png),linear-gradient(aliceblue,rgb(216, 225, 232));
  background-size: 70%;
}
.header li a{
    text-decoration: none;
    font-size: x-large;
    position: relative;
    margin: 25px; 
    }

#Education li,.header li{
   display:inline-block;  
   margin: 5px;
}
.header a{
 text-decoration: none;
  position: relative;
  color: hsl(198, 76%, 52%);
}

.header a:hover {
   color: hsl(198, 76%, 52%);
  }

.header a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: hsl(198, 76%, 52%);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  }

  .header a:hover::before {
    transform: scaleX(1);
  }

  /* home completed don't touch it */
  i{
    transition: .5s ease;
  }
    i:hover{
      color:rgb(163, 207, 236);
    }
section{
    width:100%;
    margin: 10px 0 0 0;
}
#home{
  height: 100vh;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 32px;
  padding-top: 100px;
}
.img {
    max-width: 100%;
    max-height:100%;
   
  }
  .intro{
    padding-left: 20px;
  }
#home div img {
    height: 450px;
    width: 425px;
    /* background-color: black; */
}

#home div span{
    color: #29abe2;
    font-size: 1.7cm;
}
#home div p{
    font-size: 0.6cm;
}
#home div p1{
    font-size: 0.6cm;
}

#home div a{
    text-decoration: none;
    font-size: xx-large;
    color: #29abe2;
}
#home div a span{
  font-size: large;
  background-color:#29abe2 ;
  border: none;
  color:white;
  padding: 4px 16px;
  cursor: pointer;
  border-radius: 80px;
}
#home div a span:hover{
  background-color: #6ab2d1;
}

.fa {
    padding: 2px;
    font-size: 30px;
    width: 30px;
    justify-content: center;  
    text-decoration: none;
    margin: 3px;
  }

  /* -------------------------------------- */
#aboutme div img {
  height: 12rem;
  width: 12rem;
  border: 1px solid #F06000;
  border-radius: 50%;
  margin: 0.9rem 1rem 0 2rem;
  /* float: left; */
    /* background-color: black; */
}
img {
  
  object-fit: cover;
}
#aboutme {
  color: #29abe2;
}
.topic{
  display: flex;
  justify-content: center;
}
.topic p span{
  font-size: xx-large;
}
.topic p:hover {
  color: hsl(198, 76%, 52%);
 }
 .topic p::before {
  content: "";
  position: absolute;
  display: block;
  width: 12%;
  height: 2.5px;
  bottom: -151px;
  left: 44%;
  background-color: hsl(198, 76%, 52%);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  }

  .topic p:hover::before {
    transform: scaleX(1);
  }
.box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -38px;
  margin-bottom: 53px;
}
.box div {
  margin: 50px;
}

.description p{
  font-size: x-large;
  text-align: justify;
}
.box img{
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.199));
}

/* ___________________________________________________________________________________________ */


.education{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom:190px;
  }

div .ed{
  height: 391px;
  width: 375.2px;
  /* padding-bottom: 100px; */
  margin: 0px;
}
.ed li{
  border-left: 5px  solid rgb(117, 225, 249);
  padding: 5px;
}
.skills li{
  border-left: 5px  solid rgb(117, 225, 249);
  padding: 5px;
}
div .skills{
  width: 375.2px;
  /* padding-bottom: 100px; */
  margin: 0px;
  /* height: 200px; */
}
 .education p1 span{
  font-size: xx-large;
  color: #29abe2;
  
}
.education div li span{
  font-size: larger;
  font-weight: 600;
}
.education div li{
  font-size: large;
}

/* ---------------------------------------------------------------------------------------------------------------- */
#experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#experience p{
  font-size:xx-large;
  color: #29abe2;
}
#experience li{
  font-size: large;
}
.card{
  margin-bottom: 27px;
} 


/* ----------------------------------------------------------------------------------------------------------------------- */
.footer{
  background-color: #29abe2;
  color: white;
  height: 70px;
 font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.footer p{
  margin:0;
}

.foot .fa{
  color: white;
}
.foot .fa:hover{
  color: rgb(163, 207, 236);;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display:none;
}
#myarts{
  margin-top: 133px;
}

.arts{
  justify-content: center;
  display: flex;
  margin: 15px;
  font-size: xx-large;
  color: #29abe2;
  margin-bottom: 27px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:  white;
  font-size: 40px;
  transition: 0.8s ease;
}
.next {
  right: 8px;
  border-radius: 21px 0 0 21px;
}
.next:hover{
  color: #29abe2;
}
.prev:hover{
  color: #29abe2;
}
.prev{
  left:8px;
  border-radius: 0 21px 21px 0;
}
.text {
  color: white;
  font-size: 20px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: white;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:  #71c9ee;
  border-radius: 25%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.fade {
  animation-name:fade;
  animation-duration: 0.5s;
}

.active, .dot:hover {
  background-color:  #29abe2;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



@media only screen and (max-width: 600px) {
  .container{
    flex-direction: column;
  }
  .header li a{
    margin:2px;
  }
 .box{
  flex-direction: column;
 }
 .education{
  flex-direction: column;
  justify-content: none;

 }
 .logo{
  display: none;
 }


 .ed{
  width: 375.2px;
  margin-bottom: 3rem;
 }
 #experience h2{
  margin: 10px;
 }
 .card{
  margin: 3px;
 }
 .footer p{
  font-size: medium;
 }
 
}
/* .font{
  /* display: flex; */
  /* position: fixed; */
  /* left: 32px; */
  /* color:#29abe2; 
  bottom: 95px;
  right: 28px; */
  /* width: 50px;
  height:50px; */
  /* font-size: 50px; */
